*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

/* HEADER */

.header{
  width: 100%;
  height: 80px;

  background: #0b101a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  color: #ff3d71;
}

.navbar{
  display: flex;
  gap: 30px;
}

.navbar a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover{
  color: #ff3d71;
}


.menu-btn{
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* TrendRN */

.TrendRN{
  width: 100%;
  height: 500px;

  background:
    linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.7)
    ),
    url('../images/WHA.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;

  padding: 0 60px;
}

.trendrn-content span{
  color: #ff3d71;
  font-weight: bold;
}

.trendrn-content h1{
  font-size: 70px;
  margin: 20px 0;
}

.trendrn-content p{
  max-width: 500px;
  line-height: 1.7;
  color: #d1d5db;
}

.watch-btn{
    margin-top: 30px;

  padding: 14px 30px;

  border: none;
  border-radius: 10px;

  display: inline-block;

  border-radius: 10px;

  background: #ff608a;
  color: white;

  text-decoration: none;

  transition: 0.3s;
}

.watch-btn:hover{
  background: #ff1553;
}

/* SEARCH */

.search-section{
  padding: 40px 60px;
}

.search-box{
  width: 100%;
  max-width: 500px;

  background: #1e293b;

  display: flex;
  align-items: center;

  padding: 15px 20px;

  border-radius: 12px;
}

.search-box input{
  width: 100%;

  border: none;
  outline: none;

  background: transparent;
  color: white;

  font-size: 16px;
}

.search-box i{
  color: #ff3d71;
}

/* SECTION */

.anime-section,
.ranking-section{
  padding: 20px 60px 60px;
}

.section-title{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* GRID */

.anime-grid{
  display: grid;

  grid-template-columns: repeat(4,1fr);

  gap: 25px;
}

.anime-card{
  background: #1e293b;

  border-radius: 15px;

  overflow: hidden;

  cursor: pointer;

  transition: 0.3s;
}

.anime-card:hover{
  transform: translateY(-10px);
}

.anime-card img{
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.anime-info{
  padding: 20px;
}

.anime-info h3{
  margin-bottom: 10px;
}

.anime-info span{
  color: #9ca3af;
}

/* RANKING */

.ranking-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ranking-item{
  background: #1e293b;

  padding: 20px;

  border-radius: 12px;

  display: flex;
  align-items: center;

  gap: 20px;
}
.anime-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.ranking-item span{
  color: #ff3d71;
  font-size: 24px;
  font-weight: bold;
}

/* FOOTER */

.footer{
  text-align: center;

  padding: 30px;

  background: #0b101a;

  color: #9ca3af;
}

/* MOBILE */

@media(max-width:768px){

  .menu-btn{
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: white;
    z-index: 3000;
  }

  .navbar{
    position: fixed;

    top: -100%;
    left: 0;

    width: 100%;
    height: 100vh;

    background: rgba(17, 24, 39, 0.98);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 35px;

    transition: 0.5s ease-in-out;

    z-index: 2000;
  }

  .navbar.active{
    top: 0;
  }

  .navbar a{
    font-size: 24px;
    opacity: 0;
    transform: translateY(-30px);
  }

  .navbar.active a{
    animation: dropDown 0.4s forwards;
  }

  @keyframes dropDown{
    from{
      opacity: 0;
      transform: translateY(-30px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  .navbar.active a:nth-child(1){ animation-delay: 0.1s; }
  .navbar.active a:nth-child(2){ animation-delay: 0.2s; }
  .navbar.active a:nth-child(3){ animation-delay: 0.3s; }
  .navbar.active a:nth-child(4){ animation-delay: 0.4s; }
  

  .menu-btn{
    display: block;
  }

  .search-section,
  .anime-section,
  .ranking-section{
    padding-left: 20px;
    padding-right: 20px;
  }

  .anime-grid{
    grid-template-columns: repeat(2,1fr);
  }

  .anime-card img{
    height: 220px;
  }
}
/* MODAL */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal.active{
  display: flex;
}

.modal-content{
  background: #1e293b;
  width: 90%;
  max-width: 600px;

  border-radius: 15px;
  overflow: hidden;

  position: relative;

  animation: pop 0.3s ease;
}

@keyframes pop{
  from{ transform: scale(0.8); opacity: 0; }
  to{ transform: scale(1); opacity: 1; }
}

.modal-content img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.modal-info{
  padding: 20px;
}

.modal-info h2{
  margin-bottom: 10px;
}

.modal-info p{
  margin-bottom: 8px;
  color: #d1d5db;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* container */
.baitap-ds{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* mỗi nhóm Lab */
.baitap-group{
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
}

/* tiêu đề Lab */
.baitap-title{
  padding: 18px 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: #0b101a;
  color: #ff3d71;

  transition: 0.3s;
}

.baitap-title:hover{
  background: #111827;
}

/* danh sách con */
.baitap-sublist{
  display: flex;
  flex-direction: column;
}

/* item con */
.baitap-phan{
  padding: 15px 20px;
  color: white;
  text-decoration: none;

  border-top: 1px solid #0f172a;

  transition: 0.3s;
}

.baitap-phan:hover{
  background: #ff3d71;
  padding-left: 30px;
}